<%= form_for [@book, list] do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: list} %>

    <div class="field">
      <%= f.label 'В желаемое'%>
      <%= f.radio_button(:list_type, 'want')%>
      <%= f.label 'В прочитанное'%>
      <%= f.radio_button(:list_type, 'read')%>
      <%= f.submit 'Добавить', class: 'btn btn-success btn-xs' %>
    </div>
<% end %>
